/******* Change Box Model ***************/
:root {
  --dark-blue: #00296B;
  --blue: #003F88;
  --gray: #212529;
  --light-gray: #c1c0c0;
  --white: #f3f3f3;
  --heading-font: Verdana, sans-serif;
  --paragraph-font: Tahoma, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1 {
  padding-left: 1rem;
  font-size: 20pt;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--blue);
}

p, li, figcaption, a, button {
  font-family: var(--paragraph-font);
  color: var(--dark-blue);
}

#wrapper {background: var(--white);}

#top-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

#top-header a {text-decoration: none;}

.siteName a {
  font-size: 30pt;
  color: var(--dark-blue);
}

#tools a {
  font-size: 16pt;
  color: var(--dark-blue);
}

.siteName a:hover, #tools a:hover {color: var(--blue);}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  background-color: var(--gray);
  padding: 1rem;
  width: 99%;
  margin: auto;
}

nav li {
  color: #f3f3f3;
  font-size: 12pt;
}

nav li:hover {
  cursor: pointer;
  text-decoration: underline;
}

#hero-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-top: 3px solid var(--gray);
  border-bottom: 3px solid var(--gray);
}

#hero-content {position: relative;}

#hero-content div {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #00296bbe;
  padding: 0 .5rem .5rem .5rem;
}

#hero-content h2, #hero-content p {
  margin-bottom: 5px;
  color: var(--white);
}

#hero-content h2 {font-size: 15pt;}

#hero-content p {font-size: 12pt;}

button {
  width: 250px;
  height: 25px;
  border-radius: 8px;
  border: 2px solid var(--white);
  background: var(--dark-blue);
  color: var(--white);
  margin-top: 20px;
  font-size: 10pt;
}

button:hover {
  background: var(--blue);
  cursor: pointer;
}

#flex-container {padding: 1rem;}

#flex-container > div {width: 99%;}

#upgrades {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

figure {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  text-align: center;
}

figure div {
  width: 100%;
  margin: auto;
  height: 125px;
  background-color: var(--dark-blue);
}

figure img {
  height: 100px;
  position: relative;
  top: 10px;
}

#flex-container ul {
  position: relative;
  right: 20px;
}

#flex-container li {
  font-size: 10pt;
  line-height: 50px;
}

#inv-display {
  list-style: none;
  padding-inline-start: 1rem;
}

#inv-display li {
  background-color: white;
  width: 90%;
  padding: 10px;
  margin: 15px 0;
  border: 1px solid var(--light-gray);
  border-radius: 20px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
}

#inv-display img {
  width: 90%;
  height: 30vw;
  margin: 10px 5%;
  object-fit: cover;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
}

.namePrice {
  text-align: center;
}

.namePrice h2 {font-size: 12pt;}

footer {padding: 0 1rem;}

@media screen and (width > 640px) {
  body {
    background-image: url('/images/site/small_check.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  h1 {font-size: 28pt;}

  #wrapper {
    margin: 1.5rem auto;
    max-width: 2000px;
    width: 90%;
    border-radius: 8px;
    border: 8px solid var(--blue);
  }

  .siteName a {font-size: 50pt;}

  #tools a {font-size: 20pt;}

  nav li {font-size: 18pt;}

  #hero-image {height: clamp(500px, calc(100px + 30vw), 800px);}

  #hero-content div {
    top: clamp(30px, 4vw, 100px);
    left: clamp(30px, 4vw, 100px);
    padding: 0 clamp(1rem, 4vw, 5rem) clamp(1rem, 2vw, 2rem) clamp(2rem, 1vw, 5rem);
  }

  #hero-content h2, #hero-content p {margin-bottom: 20px;}

  #hero-content h2 {font-size: 25pt;}

  #hero-content p {font-size: 17pt;}

  button {
    width: clamp(250px, 10vw, 500px);
    height: clamp(25px, 2vw, 50px);
    font-size: clamp(10pt, 1vw, 15pt);
  }

  #flex-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  #flex-container > div {
    width: 49%;
    max-width: 700px;
  }

  #flex-container li {font-size: 16pt;}

  #inv-display {
    max-width: 1500px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin: 1rem auto;
  }

  #inv-display li {
    width: 100%;
    height: 300px;
  }

  #inv-display img {height: 150px;}
}


